img {
  max-width: 140px;
  border-radius: 50%;
}

.input_file {
  margin-left: 10px;
}


.input_file {
  display: none;
}

.label-uploadInput {
    border-radius: 5px;
    border: 2px solid rgb(3, 196, 169);
    color: rgb(3, 196, 169);
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}

.card-alert {

}


.avatar {
  width: 100px;
  height: 100px;
}

.padding-container {
  padding: 2em 10% 0 10%;
}

.card {
  height: 100%;
  .info {
     position: absolute;
     background-color: var(--white);
     width: 4.6em;
     height: 4.6em;
     border-bottom-right-radius: 3em;
     top: -1px;
     left: -1px;
     z-index: 58;
     -webkit-box-shadow: 0px 2px 9px -1px rgb(0 0 0 / 37%);
     ion-icon {
        font-size: 3.2em;
        margin: 0.14em;
        --ion-color-base: #004782 !important;
     }
   } 
   .close-modal {
     cursor: pointer; 
     position: absolute;
     right: 0.7em;
     top: 0;
     font-size: 2.5em;
     color: darkgray;
     z-index: 100;
   }
 }
 
 .user-name {
  color: rgb(1, 162, 144);
}

.button-green {
  --background: rgb(3, 196, 169);
  --border-color: rgb(1, 162, 144);
  --color: white;
}
