
.login-logo {
    padding: 72px 0;
    min-height: 200px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .fs-0 {
    font-size: 1.4em;
  }
  
  ion-item.item-has-focus > ion-label{
    color:  var(--color) !important;
  }
  
  ion-input {
    font-size: 1em;
  }
  
  ion-text {
    font-size: 1.5em;
  }
  
  ion-input {
    background-color: rgb(229, 249, 241);
    border-color: rgb(116, 222, 205);
  }
  
  .icon-eye {
      margin-top: 51px;
      cursor: pointer;
  }

  .comment {
    font-family: YoutubeSansLight;
    font-size: 1.5em;
  }