<div class="tabs-menu-scene tabMenu-id-{{menuTabs?.id}} {{position}}"
[ngClass]="{'no-icon': !menuTabs || !menuTabs.icon || menuTabs.icon.length == 0}"
*ngIf="position !== 'none'"
[ngStyle]="{
   'background-color': menuTabs?.backgroundColor, 
   '--color': menuTabs?.color,
   'left': marginMenuTabs?.x,
   'top': marginMenuTabs?.y }">
    
    <ion-button
    [fill]="tab.fill" 
    [color]="tab.colorbtn" 
    (click)="onRouterLink(tab.link)"
    *ngFor="let tab of menuTabs?.actions;let i = index">
      <ion-icon [slot]="tab?.title !== '' && ( position=='bottom' || position=='top' ) ? 'start': 'icon-only'" 
      [name]="tab?.icon"></ion-icon>
      <div [hidden]="onlyIcon" *ngIf="position=='bottom' || position=='top'"> {{tab?.title}}</div>
    </ion-button>

    <div class="head">
       <img [src]="menuTabs?.icon">
    </div>

  </div>
