.col-1_5 {
    flex: 0 0 calc(calc(1.5 / var(--ion-grid-columns, 12)) * 100%) !important;
    width: calc(calc(1.5 / var(--ion-grid-columns, 12)) * 100%) !important;
    max-width: calc(calc(1.5 / var(--ion-grid-columns, 12)) * 100%) !important;
    text-align: center;
}


.container-collage {
    height: 86vh;
    overflow: overlay;
    cursor: pointer;

    .image-collage {
        width: 8vw;
        height: auto;
        margin: 1vw;
    }
    .slide-selected {
        border: 1px solid;
    }
}

@media screen and (max-width: 768px) {
    .col-1_5 {
        flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%) !important;
        width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%) !important;
        max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%) !important;
    }

    .container-collage {
        display: flex;
        height: 10vh;
        overflow: hidden;
    }
}

.product-name {
    color: rgb(0, 74, 65);
}

.star {

    fa-icon {
        color: #ddd;
        margin-left: 0.4em;
    }
}

.star.selected fa-icon {
    color: rgb(250, 169, 2);
}

.fire {
    color: rgb(233, 81, 68);
}

.detail-content {
    padding-left: 2vw;
    padding-top: 1vw;
}

.margin--1 {
    margin-top: 0.2em;
}

.class-title {
    color: rgb(101, 194, 0);
}

.class-value {
    font-family: YoutubeSansLight;
}

.favorite-icon {
    padding: 0.5vw 0.5vw;
}

@media screen and (max-width:768px) {
    .favorite-icon {
        padding: 1.5vw 1vw;
        right: 2vw;
    }
}

.favorite-icon {
    position: absolute;
    top: 1vw;
    right: 2vw;
    background: white;
    border-radius: 63%;
    padding: 0.5vw 0vw;
    height: 2vw;
    width: 2vw;
    font-size: 1vw !important;
}

.favorite-icon.selected {
    border: 1px solid rgb(0 0 0 / 12%);

    ion-icon {
        color: #EF3B51;
    }
}

@media screen and (max-width:768px) {
    .favorite-icon {
        position: absolute;
        top: 1vw;
        right: 11vw;
        padding: 0.84vw 0vw;
        height: 5vw;
        width: 5vw;

        ion-icon {
            font-size: 4vw;
        }
    }
}

.ngxImageZoomContainer,
.image-selected {
    width: 100%;
}
