@import '../services-list/services-list.page.scss';

.swiper-image {
    height: 30vw !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;

    .swiper-image-title,
    .swiper-image-name,
    .swiper-image-desc {
        color: var(--ion-color-primary-contrast);
        font-family: YoutubeSansLight;
        position: relative;
        z-index: 2;
    }

    @media screen and (max-width: 768px) {
        .swiper-image-button ion-button::part(native) {
            position: relative;
            right: -23vw;
        }
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 1;
    }

    .swiper-image-title {
        margin-top: 11vw !important;
    }

    .swiper-image-name {
        font-family: YoutubeSansBold;
        font-size: 3vw;
    }

    .swiper-image-desc {
        width: 70%;
        margin: auto;
        margin-bottom: 2vw !important;
    }


    @media screen and (max-width: 768px) {
        .swiper-image {
            height: 33vw !important;
        }

        .swiper-image-title {
            margin-top: 2vw !important;
        }

        .swiper-image-desc {
            margin-bottom: 0vw !important;
        }
    }

}

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
    --swiper-theme-color: white;
    --swiper-navigation-size: 1em;
    padding: 20px !important;
    border: 1px solid white;
    border-radius: 50%;
}


.banner-image {
    height: 30vw !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    text-align: center;

    .banner-image-title,
    .banner-image-footer,
    .banner-image-desc {
        color: var(--ion-color-primary-contrast);
        font-family: YoutubeSansLight;
    }

    .banner-image-desc {
        width: 50%;
        margin: auto;
    }

    .banner-image-title {
        font-family: YoutubeSansBold;
    }

    @media (max-width: 1200px) {
        .banner-image-desc {
            width: 70%;
        }
    }

}


.services-section {

    .title {
        color: var(--ion-color-primary-contrast);
        font-family: YoutubeSansBold;
        position: relative;
        z-index: 2;
        cursor: pointer;
        top: 0;
        width: 56%;
        margin: auto;
        padding-bottom: 0.5vw;
        border-bottom: 0.2vw solid white;
    }
    
    ion-col {
        padding: 1vw;
        height: 18vw;
        text-align: center;
    }

    .service-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 18vw;
        opacity: 1;
        max-width: 100%;
        filter: brightness(0.7);
    }

    @media (max-width: 768px) {

        .title {
            width: 50%;
        }

        ion-col,
        .service-img {
            height: 33vw;
            width: 90%;
            margin-left: 2.5%;
        }
    }
}



.new-product-sales {
    margin-left: 0.5vw;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 768px) {
    .new-product-sales {
        margin-left: 1vw;
    }
}

.new-product-sales,
.new-product {
    padding: 2vw;
    text-align: center;

    .new-product-legend {
        padding: 1em;
    }

    .product-image {
        width: 100%;
    }

    .product-title-section {
        font-size: 2.2vw;
        color: rgb(0, 74, 65);
    }

    .product-title {
        color: rgb(0, 74, 65);
        font-size: 1.5vw;
    }

    .product-detail {
        color: rgb(3, 196, 169);
    }

    .product-price {
        color: rgb(0, 74, 65);
    }
}

.new-product-sales.small-screen,
.new-product.small-screen {

    .product-image {
        width: 60%;
    }

    .product-title-section {
        font-size: 5vw;
    }

    .product-title {
        font-size: 3.2vw;
    }
}

.colaboration-container {
    padding: 0vw 4vw;
}

.colaborations-panel {
    width: 30%;
    padding: 2vw;

    .title-section {
        color: rgb(0, 74, 65);
        font-size: 2.2vw;
        margin-top: 2vw;
    }

    .colaboration-image {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }

    .colaborations-section {

        border: 1px solid rgb(220, 220, 220, 0.5);
        background: white;
        margin-top: -4vw;
        padding: 2vw;
        text-align: center;

        .panel-title {
            margin: auto;
            color: rgb(0, 74, 65);
        }

        .title-section {
            font-size: 2.2vw;
            margin: auto;
            color: rgb(0, 74, 65);
        }

        .panel-label {
            font-size: 1vw;
            font-family: YoutubeSansLight;
        }

        .panel-desc {
            font-size: 1vw;
            font-family: YoutubeSansLight;
            margin-top: 3vw;
            min-height: 5vw;
        }

        .panel-date {
            font-size: 1.2vw;
            font-family: YoutubeSansLight;
        }

        .panel-points {

            justify-content: center;

            .star fa-icon {
                color: #ddd;
            }

            .star.selected fa-icon {
                color: rgb(250, 169, 2);
            }
        }

        .panel-name {
            color: rgb(101, 194, 0);
            font-size: 1.5vw;
            font-family: YoutubeSansMedium;
        }

        .panel-payment {
            font-size: 1.5vw;
        }
    }
}



.colaborations-panel.small-screen {

    padding: 2vw !important;

    .title-section {
        font-size: 5vw;
        margin-top: 7vw;
    }

    .colaboration-image {
        width: 15vw;
        height: 15vw
    }

    .colaborations-section {

        padding: 4vw;
        width: 80vw;
        margin-top: -7vw;
        margin-left: auto;
        margin-right: auto;

        .panel-title {
            margin-top: 5vw !important;
        }

        .title-section {
            font-size: 2.2vw;
        }

        .panel-label {
            font-size: 3vw;
        }

        .panel-desc {
            font-size: 3vw;
            margin-top: 2vw;
        }

        .panel-name {
            font-size: 4vw;
        }

        .panel-payment {
            font-size: 3vw;
        }

        .panel-date {
            font-size: 3vw;
            margin-bottom: 4vw;
        }
    }

}

@media (max-width: 1012px) {
    .colaboration-container {
        padding: 1vw;
    }

    .colaborations-panel {
        padding: 1vw;
    }
}

.circle-section {
    .circle {
        width: 1vw;
        height: 1vw;
        border: 1px solid rgb(112, 112, 112);
        background: rgb(255, 255, 255);
        border-radius: 50%;
        margin: 1vw;
        cursor: pointer;
    }

    .circle:hover {
        background: rgb(112, 112, 112);
    }

    .circle.selected {
        background: rgb(174, 173, 231);
    }
}

.circle-section.small-screen {
    .circle {
        width: 2vw;
        height: 2vw;
        margin: 1vw;
    }
}

.menu-tabs {
    margin-top: -2.6vw;
    display: flex;

    .tab-menu {
        color: white;
        background-color: rgb(3, 196, 169);
        font-size: 1.2vw;
        padding: 0.6vw;
        min-width: 14vw;
        text-align: center;
        margin-left: 0.5vw;
        height: 3.2vw;
        cursor: pointer;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        .tab-menu {
            font-size: 1.3vw !important;
        }
    }

    @media screen and (max-width: 768px) {
        .tab-menu {
            font-size: 2.3vw !important;
            padding: -0.4vw !important;
            min-width: 22vw !important;
            margin-left: 1vw;
            height: 5.3vw !important;
        }
    }

    .tab-menu:hover,
    .tab-menu.selected {
        border-left: 1px solid lightgray;
        background: white;
        border-right: 1px solid lightgray;
        background: white;
        color: rgb(3, 196, 169);

        span {
            border-bottom: 1px solid rgb(3, 196, 169);
        }
    }
}

.menu-tabs.shadow {
    position: absolute;
    z-index: 1;
}

.sales {
    background-color: white;
    border-left: 1px solid lightgray;
    border-top-right-radius: 18px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: 100%;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.sales-category {
    padding: 1vw;
    font-size: 1vw;
    display: flex;

    ion-checkbox {
        margin-left: 1em;
        margin-right: 1em;
        cursor: pointer;
    }
}



.green-light {
    background-color: rgb(3, 196, 169);
    --background: rgb(3, 196, 169);
}

.product-item {}

.product-item:hover {
    background-color: rgb(112, 112, 112, 0.05);
    border-radius: 10%;
    cursor: pointer;
}

.padding-container-services{
    padding: 0px 0vw 0px 6vw;
}

.services-container {    
    text-align: center;
    margin-left: 0.5vw;
    padding: 0;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 768px) {
    .menu-tabs {
        margin-top: -4.6vw;
    }

    .sales {
        margin-left: 1vw;
    }

    .padding-container-services{
        padding: 0;
    }
}
