.banner-image {
    height: 30vw !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    text-align: center;

    .banner-image-title,
    .banner-image-footer,
    .banner-image-desc {
        color: var(--ion-color-primary-contrast);
        font-family: YoutubeSansLight;
    }

    .banner-image-desc {
        width: 50%;
        margin: auto;
    }

    .banner-image-title {
        font-family: YoutubeSansBold;
    }

    @media screen and (max-width: 1200px) {
        .banner-image-desc {
            width: 70%;
        }
    }

}



.products-section {
    padding: 2vw;
    text-align: center;

    .product-title-section {
        color: rgb(0, 74, 65);
    }

    .product-legend {
        padding: 1em;
    }

    .product-image {
        width: 90%;
        height: 18vw;
    }

    @media (max-width: 768px) {
        .product-image {
            height: 33vw;
            margin-left: 2.5%;
        }
    }






    @media screen and (max-width: 768px) {
        .product-image {
            width: 60%;
        }
    }

    .product-title {
        color: rgb(0, 74, 65);
    }

    .product-detail {
        color: rgb(3, 196, 169);
    }

    .product-price {
        color: rgb(0, 74, 65);
    }
}

.filter-container {
    background-color: rgb(235, 235, 235);
    
    .filter-label {
        padding: 0.8vw 1.5vw
    }

    .filter-item {
        margin: 0px 2vw;
        padding: 1vw;
        min-width: 19vw;
        text-align: center;
        cursor: pointer;

        .icon-down {
            bottom: -4px;
            position: relative;
            left: 10px;
        }
    }

    .filter-item.selected {
        background-color: rgb(248, 248, 248);
    }
}

.filter-attr-container {

    padding: 2vw 6vw;
    background-color: rgb(248, 248, 248);

    .filter-attr-item {
        cursor: pointer;
        border-radius: 43px;
        border: 1px solid rgb(3, 196, 169);
        color: rgb(3, 196, 169);
        text-align: center;
        padding: 0.3vw 1vw;
        margin-left: 0.8vw;
        margin-top: 1vw;
        font-family: YoutubeSansMedium;
    }

    .filter-attr-item:hover,
    .filter-attr-item.selected {
        border: 1px solid rgb(0, 74, 65, 0.8);
        color: rgb(0, 74, 65, 0.8);
        background-color: rgb(13, 206, 179, 0.5);

    }

    @media screen and (max-width: 768px){
        .filter-attr-item {
            padding: 0.3vw 1vw;
            margin-left: 0.8vw;
            margin-top: 1vw;
        }
    }
}

.product-item {

}
.product-item:hover {
    background-color: rgb(112, 112, 112,0.05);
    border-radius: 10%;
    cursor: pointer;
}

.favorite-icon {
    position: absolute;
    top: 3.4vw;
    right: 1.8vw;
    background: white;
    border-radius: 63%;
    padding: 0.5vw 0vw;
    height: 2.5vw;
    width: 2.5vw;
    font-size: 1vw !important;

    ion-icon {
        font-size: 1.5vw;
    }
}

.favorite-icon.selected {
    border: 1px solid rgb(0 0 0 / 12%);

    ion-icon {
        color: #EF3B51;
    }
}

@media screen and (max-width:768px) {
    .favorite-icon {
        position: absolute;
        top: 4vw;
        right: 19vw;
        padding: 0.94vw 0vw;
        height: 6vw;
        width: 6vw;

        ion-icon {
            font-size: 4vw;
        }
    }
}